/* BookListItem/index.module.css */
.item {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
}
.itemFooter {
    padding: 5px;
}

.simpleButton{
    color: white;
    font-size: 0.8rem;
    padding: 10px;
    background-color: #007bff;
    border-radius: 5px;
    min-width: 50px;
}

.thumbnail {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.details {
    flex-grow: 1;
    width: 25vw;
    height: 30vh;
    border-left: 1px solid #ccc;
}

.title {
    font-size: 18px;
    height: 40px;
    margin: 0 0 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.isbn, .publisher, .stock, .date {
    font-size: 14px;
    margin: 2px;
    color: #666;
}
